/*!
 * Custom styling
 */
section {
    padding-top: 2.5em;
    padding-bottom: 2.5em;
}

/*navigation*/
nav a {
    color: gray;
}

/*content*/
h3 {
    font-size: 2rem;
    font-weight: 300;
}

address {
    font-weight: 300;
}

/*footer*/
.bg-dark p {
    color: #ffffff;
}